<div class="mb-3">
  <label [for]="formControlName" class="form-label">
    <ng-content></ng-content>
  </label>
  <div class="input-group">
    <input [type]="type" class="form-control"
      [id]="formControlName" 
      [name]="formControlName" 
      [placeholder]="placeholderText"
      [attr.disabled]="isDisabled || null"
      [ngModel]="value"
      (ngModelChange)="_onChange($event)"
      (blur)="_onTouch()">
    <button class="btn btn-outline-secondary" type="button" (click)="toggleFieldType()">
      <i *ngIf="type === 'password'" class="bi bi-eye-fill"></i>
      <i *ngIf="type === 'text'" class="bi bi-eye-slash-fill"></i>
    </button>
  </div>
  <es-form-control-error [control]="control" ></es-form-control-error>
</div>